body{
    background-color: rgb(40, 38, 38);
    color: white;
}

#tit{
    text-align: center;
}

img{
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.rdos{
    background-color: rgb(255, 166, 0);
    text-align: center;
}

.R-List{
    background-color: rgb(255, 166, 0);
    text-align: center;
}

#last{
    background-color: white;
}

.ctct{
    text-align: center;
}

#mail{
    background-color: orange;
}

#nt{
    text-align: center;
    background-color: rgb(190, 73, 73);
}

#rados{
    background-color: #FA8E01;
}

#rados2{
    background-color: #FA8E01;
}

#rlis{
    background-color: #FA8E01;
}

#rlis2{
    background-color: #FA8E01;
}

#anc{
    background-color: rgb(138, 189, 75);
    color: white;
}

#anc2{
    background-color: rgb(138, 189, 75);
}

#rl{
    background-color: rgb(190, 73, 73);
}

#rd{
    background-color: rgb(190, 73, 73);
}

